# node_modules - папка с зависимостями
front/node_modules

# Логи
logs
*.log

# Директории сборки
front/dist/
front/build/

# Секретные файлы
server/.env
server/private_key.pem
server/public_key.pem

# IDE и редакторы

