.admin-container {
	width: 100vw;
}

.nav-link {
	font-size: 1.2rem; /* Увеличение размера шрифта */
	padding: 10px 15px; /* Увеличение отступов для nav-link */
}

.nav-item {
	margin: 0 15px; /* Увеличение расстояния между элементами списка */
}
.nav-color {
	background-color: #403866;
}

.header {
	text-align: center;
}

#navbarNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.admin {
	height: 100%;
	width: 100%;
}